---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";

interface PlayerData {
    username: string;
    rating: number;
    place: number;
}
const response = await fetch("https://api.duelyst2.com/blatmmr/v1/mmr/ranked-top50", {
    method: "GET",
    headers: { "Content-Type": "application/json" },
});
const data = await response.json();
---

<Layout>
    <Header activeNav="rankedTop50" />
    <main id="main-content">
        <section id="hero">
            <h1>Ranked Top 50 BlatMMR</h1>
            <br />
            <ul id="links">
                {
                    data.players.map((player: PlayerData) => {
                        const link = "/History/" + player.username;
                        return (
                            <>
                                <a id={player.place.toString()} href={link}>
                                    <li>
                                        <h4>
                                            Rank: {player.place} - {player.username}: {player.rating}
                                        </h4>
                                    </li>
                                </a>
                            </>
                        );
                    })
                }
            </ul>
        </section>
    </main>
    <Footer />
</Layout>

<!-- <script define:vars={{ player }}>
  var myVariable = "/History/"+player.username; var linkElement =
  document.getElementById(player.username); if (linkElement)
  {linkElement.setAttribute("href", myVariable)}
</script> -->

<style>
    /* ===== Hero Section ===== */
    #hero {
        @apply pt-8 pb-6;
    }
    #hero h1 {
        @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    #hero .rss-link {
        @apply mb-6;
    }
    #hero .rss-icon {
        @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    #hero p {
        @apply my-2;
    }
    .social-wrapper {
        @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
        @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
        @apply pt-12 pb-6;
    }
    #featured h2,
    #recent-posts h2 {
        @apply text-2xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
        @apply my-8 text-center;
    }
</style>
